*{
    padding: 0;
    margin: 0;
    box-sizing: bord;
    font-family: 'poppins', sans-serif;
    text-decoration: none ;
}
.Art{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../images/Bg.jfif);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }

.Art-content{
    width: 100%;
    max-width: 340px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin-top: 4rem;
 }

 .Art-content img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 5px;
 }
 .box:hover{
    background: #e5e7eb;
    transform: translate(-10px);
    cursor: pointer;
 }

 .center h1{
    color: white;
    margin-top: 5px;
    font-size: 4rem;
    text-align: center;
 }

 .box{
    padding: 5px;
    border-radius: 15px;
    background: rgb(39 39 42/var(--tw-bg-opacity));
    transition: all .38s ease;
 }
 .box h3{
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    margin-top: 8px;
 }
 .box h5{
    font-size: 15px;
    font-weight: 600;
    color: #b7b4bb;
    margin-top: 15px;
    letter-spacing: 2px;
 }
 .box h3:hover{
    color: #454446;
 }